.landing {
  min-height: fit-content;
  max-width: 100vw;
  padding: 0 var(--main-padding);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 10rem;
}

.landing-left-side {
  border-right: 1px solid #0000001e;
  padding: 2rem 2rem 0 0;
  width: fit-content;
}

.landing .landing-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6rem;
  width: 217px;
  transition: 0.3s;
  position: relative;
  z-index: 10;
}

.landing .landing-links:hover {
  background-color: #00000017;
}

.landing-right-side {
  color: white;
  position: relative;
  background-color: var(--dark-color);
  flex: 1;
  width: 100%;
  margin: 2.8rem 2rem 0;
  z-index: 2;
  padding: 3rem 5rem;
  height: 385px;
  transition: 0.5s;

  & p {
    line-height: 2.4;
  }

  & h1 {
    font-size: 48px;
    letter-spacing: 4px;
    font-weight: 500;
    padding-left: 0.5rem;
  }

  & .shop-now {
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
    border-bottom: 1px solid white;
    width: fit-content;
  }

  & .arrow {
    font-size: 1.8rem !important;
  }
}

.landing-right-side .apple {
  font-size: 4rem !important;
}

.landing-right-side .container-landing {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.dots.landing {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.dots.landing > :nth-child(3) {
  position: relative;
  background-color: white !important;
  border: 2px solid white !important;
}

.header-section {
  padding: 0 136px 0 0;
  margin: 1rem 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.date-text {
  flex-wrap: wrap;
  gap: 7.5rem;
  align-items: center;
}

.sale,
.cate {
  font-size: 36px;
  font-weight: 600;
}

.date-item {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;

  & span {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
}

.date-col {
  color: #e07575;
  font-size: 38px;
}

.days {
  gap: 2rem;
}

.red {
  background-color: var(--red-color);
  height: 40px;
  width: 20px;
  border-radius: 4px;
}

.product-img .discount {
  position: absolute;
  background-color: var(--red-color);
  color: white;
  width: 50px;
  padding: 0.1rem 0;
  margin: 12px;
  text-align: center;
  border-radius: 4px;
}

.product-title {
  width: max-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80%;
  margin: 0.7rem 0 0;
  line-height: 2.4;
  font-size: 1.1rem;
  font-weight: 500;
}

.add-to-cart {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  padding: 0.3rem 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: translateY(101%);
  transition: 0.35s;
}

.product-img:hover .add-to-cart {
  transform: translateY(0);
}

.price {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: var(--red-color);
  line-height: 1.8;
  font-size: 1.1rem;
  font-weight: 600;

  & .old-price {
    text-decoration: line-through;
    color: #a39a9a;
  }
}

.featured {
  padding: 1rem var(--main-padding);
}

.featured .arrival {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.featured .arrival img {
  max-width: 100%;
}

.featured .arrival-left-side,
.women-collections,
.perfume,
.speakers {
  position: relative;
}

.featured .arrival-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.speakers-perfume {
  gap: 2rem;
}

.featured .arrival .text-arrival {
  position: absolute;
  bottom: 2.2rem;
  left: 2rem;
  color: white;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & h3 {
    font-size: 24px;
  }

  & p {
    font-size: 14px;
    font-weight: 300;
  }

  & span {
    cursor: pointer;
  }
}

@media (max-width: 1610px) {
  .landing {
    padding: 0 1rem !important;
  }

  .landing-right-side {
    padding: 2rem;
    & h1 {
      font-size: 35px;
      letter-spacing: 2px;
    }
  }
}

@media (max-width: 1250px) {
  .products {
    padding: 1rem 0 1rem 1rem !important;
  }

  .header-section {
    padding: 0 1rem 0 0;
    margin: 1rem 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .slider-container {
    padding: 5rem 0 1rem 0;
  }

  .product-img {
    width: 98%;
  }

  .date-text {
    gap: 1rem;
  }

  .featured {
    padding: 0 1rem !important;
  }

  .featured .arrival {
    margin-top: 0rem;
  }

  .featured .arrival .text-arrival {
    bottom: 2rem;
    left: 1rem;
    height: fit-content;

    & h3 {
      font-size: 20px;
    }
  }
}

@media (max-width: 1150px) {
  .landing {
    padding: 0 0.5rem !important;
    display: flex;
    justify-content: center;
    gap: 0rem;
    margin-bottom: 1rem;
  }

  .landing-left-side {
    position: relative;
    transform: translateX(-250px);
    transition: 0.5s;
    width: 0;
    margin-left: -1.6rem;
  }

  .landing-left-side.open {
    position: relative;
    transform: translateX(110px);
    transition: 0.5s;
    width: 100%;
  }

  .open-menu-home {
    position: absolute;
    left: 270px;
    top: 10px;
    margin-left: 1rem;
    cursor: pointer;
    font-size: 1.8rem !important;
  }

  .landing-right-side {
    position: relative;
    background-color: var(--dark-color);
    flex: 1;
    width: 100%;
    margin: 2.8rem 0.5rem 2.8rem 0;
    z-index: 5;
    padding: 3rem;

    & h1 {
      font-size: 35px;
      letter-spacing: 0px;
      font-weight: 500;
      padding-left: 0.5rem;
    }
  }

  .landing-right-side.close {
    transform: translateX(110%);
  }

  .landing-right-side .iphone-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
    max-width: 100%;

    & img {
      max-width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .landing-right-side {
    padding: 2rem;
  }

  .landing-right-side .iphone-img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
    max-width: 100%;

    & img {
      max-width: 100%;
    }
  }

  .open-menu-home {
    left: 260px;
  }

  .header-section {
    margin: 0 0 1rem;
    justify-content: center;
    gap: 0.7rem;
  }

  .date-text {
    justify-content: center;
  }

  .date-item {
    flex-direction: column;
    align-items: center;

    & span {
      font-size: 24px;
    }
  }

  .date-col {
    font-size: 24px;
  }

  .days {
    gap: 1rem;
  }

  .cate {
    font-size: 2rem;
  }

  .featured .arrival {
    gap: 0.8rem;
    flex-direction: column;
  }

  .featured .arrival-right-side {
    gap: 0.8rem;
  }

  .speakers-perfume {
    gap: 1.2rem;
  }
}

@media (max-width: 350px) {
  .landing-left-side.open {
    transform: translateX(100px);
  }

  .open-menu-home {
    left: 260px;
  }

  .cate {
    font-size: 1.8rem;
  }
}
