.active-link {
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 2px;
  background-color: #000;
}

header {
  position: relative;
  max-width: 100vw;
}

header .summer-sale {
  max-width: 100vw;
  height: 48px;
  background-color: #000;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 var(--main-padding);
  font-size: 14px;

  & p span {
    color: white;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
  }
}

header .summer-sale .lang {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.lang-list {
  color: white !important;
}

header .nav-icons {
  padding: 40px var(--main-padding) 14px;
  border-bottom: 1px solid #0000001e;
}

header .exclusive {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 2.4;
}

header nav {
  display: flex;
  gap: 40px;
}

header nav a {
  line-height: 2.4;
  position: relative;
  padding: 2.5px 12.5px;
  border-radius: 4px;
  transition: 0.35s;
}

header nav a:hover {
  background-color: #f5f5f5;
}

header .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  & .search {
    position: relative;
    width: 243px;
    height: 38px;
    background-color: #f5f5f5;
    border-radius: 4px;

    & input {
      width: 100%;
      height: 100%;
      padding: 0 15px;
      border: none;
      outline: none;
      background-color: transparent;
    }

    & .search-i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      width: 28px;
      height: 28px;
      cursor: pointer;
    }
  }
}

.MuiMenu-list {
  background-image: linear-gradient(
    to top right,
    rgba(128, 0, 128, 0.486),
    /* Lighter purple with transparency */ rgba(128, 0, 128, 0.459),
    /* Darker purple with more opacity */ #00000094,
    /* Semi-transparent black */ #000000a9,
    /* More opaque black */ #6b6868 /* Light grayish color for a soft end */
  );
}

@media (max-width: 1024px) {
  .palce-holder {
    display: none;
  }

  .summer-sale {
    padding: 0 15px !important;

    & p {
      font-size: 0.8rem;
    }
  }

  header .nav-icons {
    padding: 15px !important;
    border-bottom: 1px solid #f5f5f5;
  }

  header nav {
    gap: 28px;
  }

  header nav a {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .summer-sale {
    padding: 0 10px;

    & p {
      font-size: 0.66rem;
    }
  }

  header nav {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--red-color);
    color: var(--dark-color);
    width: 100%;
    height: fit-content;
    z-index: 100;
    flex-direction: column;
    gap: 5px;
    transition: 0.5s !important;
  }

  header .controls {
    gap: 7px;

    & .search {
      position: relative;
      width: 185px;
      height: 38px;

      & input::placeholder {
        font-size: 12px;
      }

      & .search-i {
        right: 0px;
        width: 26px;
        height: 26px;
      }
    }
  }
}

@media (max-width: 350px) {
  header .controls {
    gap: 5px;

    & .search {
      position: relative;
      width: 155px;
      height: 38px;

      & input::placeholder {
        font-size: 10px;
      }

      & .search-i {
        right: 0px;
        width: 24px;
        height: 24px;
      }
    }
  }
}
