.all-products {
  max-width: 100vw;
  min-height: fit-content;
  margin: 3rem var(--main-padding);

  & hr {
    margin: 0.5rem auto;
    width: 100%;
    border: none;
    border-top: 1px solid #00000023;
  }
}

.all-products .products-item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem 1.2rem;
}

.all-products .products-item .item {
  & .product-img {
    width: 100%;
    height: 225px;

    & img {
      max-width: 100%;
    }
  }
}

@media (max-width: 1250px) {
  .all-products {
    margin: 1.5rem 1rem !important;
  }
}
