@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-padding: 136px;
  --dark-color: #000;
  --red-color: #db4444;
  --text-color: #828282;
  --text-2-color: #00000083;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}

.loading,
.error {
  text-align: center;
  font-size: 2rem;
  margin: 1rem auto;
  color: var(--red-color);
}

.icon {
  color: #000 !important;
}

.cart-text {
  color: var(--red-color);
}

.dots > * {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--text-color);
  cursor: pointer;
  margin-top: 3.5rem;
  border: 2px solid var(--text-color);
}

.dots > :nth-child(3) {
  background-color: transparent;
  position: relative;
}

.dots > :nth-child(3)::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: var(--red-color);
  border-radius: 50%;
}

.line {
  width: 85%;
  height: 1px;
  background-color: #0000001e;
  margin: 0rem auto 3.5rem;
  border: none;
}

.products {
  padding: 1rem 0 1rem var(--main-padding);
  margin-bottom: 3rem;
}

.slider-container {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 0;
}

.product-img {
  width: 85%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
}

.rating:not(.star) {
  color: #00000031;
}

.rating .star {
  color: #ffad33;
}

.next,
.prev {
  background-color: #f5f5f5;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.35s;

  &:hover {
    background-color: #ddd;
  }
}

.like {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  right: 10px;
  top: 10px;

  & div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f5f5f5;
    transition: 0.35s;

    & svg {
      font-size: 1.3rem;
    }

    &:hover {
      background-color: #ddd;
    }
  }
}

.category {
  border: 1px solid #ddd;
  width: 90%;
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 500;
  gap: 1rem;
  margin: 0.35rem;
  transition: 0.35s;

  &:hover {
    background-color: #f5f5f5;
    transform: scale(1.05);
  }
}

.category svg {
  font-size: 3rem;
}

.category-box {
  padding-right: 115px;
}

@media (max-width: 1250px) {
  .category-box {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .category {
    border: 1px solid #ddd;
    width: 95%;
    height: 145px;
    gap: 0.7rem;
  }
}
