.not-found {
  text-align: center;
  max-width: 100vw;
  margin-top: 3rem;
  padding: 0 var(--main-padding);
  margin-bottom: 6rem;
}

.not-found .links-not-found {
  margin-bottom: 5rem;
}

@media (max-width: 1024px) {
  .not-found {
    padding: 0 18px !important;
  }

  .not-found .links-not-found {
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .not-found {
    margin-top: 2rem;
  }

  .not-found h1 {
    font-size: 3rem;
  }

  .not-found button {
    margin-top: 1rem;
  }
}
